body {
    --input-width: 45%;
    --button-width: 150px;
    --wrapper-input-width: 100%;
    --min-result-container-width: 30vh;
}

.main-action {
    margin: 0;
    position: relative;
    width: var(--wrapper-input-width);
    padding: 15px 0;
    padding-top: 30px;
}

.main-action input[type="text"] {
    width: var(--input-width);
    max-width: var(--input-width);
    margin-left: calc(calc((var(--wrapper-input-width) - calc(var(--input-width) + var(--button-width)))) / 2);
    overflow: hidden;
}

.main-action button[type="button"] {
    overflow: hidden;
    width: var(--button-width);
    max-width: var(--button-width);
}

section.controllers {
    position: -webkit-sticky;
    position: sticky;
    z-index: 9998;
    top: 0;
}

section.controllers .nav-item {
    padding-left: 25px;
    padding-right: 25px;
}

section.controllers .active {
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}

section.controllers .active a {
    color: var(--dark) !important;
}

.active .nav-link {
    padding-bottom: 0;
}

section.controllers li a {
    cursor: pointer;
}

.result-container {
    min-height: var(--min-result-container-width);
}

.result-container .spinner-grow {
    margin-top: calc(calc(var(--min-result-container-width) / 2) - 2rem);
}

.test-all-btn {
    position: fixed;
    opacity: .5;
    bottom: 50px;
    right: 30px;
}

.test-all-btn:hover {
    opacity: 1;
}