{% extends 'template/main.html' %}

{% block main_content %}
<main class="main" >
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"> <i class="text-dark fa fa-bar-chart"></i> Automated Testing In Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container w-100 text-light bg-dark" >
        <div class="main-action input-group">
            <input class="form-control" type="text" name="url" placeholder="Enter a web page URL" aria-label="Enter a web page URL">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary" >ANALYZE</button>
            </div>
        </div>
    </div>
    <nav class="container navbar option-device navbar-expand navbar-dark bg-dark" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" >DESKTOP <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >MOBILE</a>
            </li>
        </ul>
    </nav>
    <div class="result-container" >
        <div class="alert d-none" role="alert"></div>
        <div class="remote container d-none" >Remote Data</div>
        <div class="spinner-grow text-primary d-none" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="default container" >
            This test is the default text! :(
        </div>
    </div>
</main>
{% endblock %}