{% extends 'template/main.html' %}

{% block main_content %}
<main class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"> <i class="fa fa-bar-chart text-primary"></i> Automated Testing In Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="progress" style="height: 2px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <div class=" w-100 text-light bg-dark">
        <div class="main-action input-group">
            <input class="form-control" value="https://agostinhopinaramos.com/"
                v="http://the-internet.herokuapp.com/inputs" type="text" name="url" placeholder="Enter a web page URL"
                aria-label="Enter a web page URL">
            <div class="input-group-append">
                <button type="button" class="btn btn-primary">ANALYZE</button>
            </div>
        </div>
    </div>
    <section class="controllers">
        <div class="collapse" id="collapseExample">
            <div class="bg-dark text-light">
                <div class="container">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                    Nihil
                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand navbar-dark bg-dark tc-header">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Test 1 <span class="sr-only">(current)</span></a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link">Test 2 </a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-plus"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample"><i class="fa fa-sliders"></i></a>
                </li>
            </ul>
        </nav>
    </section>
    <div class="result-container">
        <div class="alert d-none" role="alert"></div>
        <div class="remote container d-none">Remote Data</div>
        <div class="spinner-grow text-primary d-none" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="default container pt-5 bg-primary d-none          ">
            <div class="row">
                <div class="col-sm">
                    <div class="info text-justify">
                        <h3>What's New</h3>
                        Read the latest Webmaster Central posts about performance & speed.
                    </div>
                    <br />
                    <div class="info text-justify">
                        <h3>Give Feedback</h3>
                        Have specific, answerable questions about using Web Testing tool? Ask your question on Stack
                        Overflow. For general feedback and discussion, start a thread in our mailing list.
                    </div>
                </div>
                <div class="col-sm">
                    <div class="info text-justify">
                        <h3>Web Performance</h3>
                        Learn more about web performance tools at Google.
                    </div>
                    <br />
                    <div class="info text-justify">
                        <h3>About Automated Testing In Web</h3>
                        Automated Testing In Web analyzes the content of a web page, then generates suggestions to make
                        that page faster. Learn more.
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row automation_task" role="app_model">
                <div class="element task">
                    <div class="input-group query_selector">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Query selector:</div>
                        </div>
                        <input placeholder="body .myClass #myID" type="text" class="form-control">
                    </div>
                    <div class="task_event p-3 mt-3">
                        <div class="input-group option">
                            <select class="custom-select">
                                <option type="" value="" selected>Choose...</option>
                                <option type="1" value="text">Write: Text</option>
                                <option type="0" value="action->click">Action: Click</option>
                                <option type="0" value="action->doubleClick">Action: Double Click</option>
                                <option type="0" value="action->hover">Action: Hover</option>
                                <option type="0" value="action->Mouseover">Action: Mouseover</option>
                                <option type="0" value="action->Mousemove">Action: Mousemove</option>
                                <option type="0" value="action->Mouseenter">Action: Mouseenter</option>
                                <option type="3" value="timer_action">Timer: Sleep</option>
                                <option type="1" value="match->string">Math: Text</option>
                                <option type="2" value="text">Write: Long Text</option>
                            </select>
                            <div class="input-group-append">
                                <button class="create btn btn-outline-secondary" disabled>CREATE</button>
                            </div>
                        </div>
                        <div class="input-group html_element d-none"></div>
                    </div>
                    <div class="w-100 text-right mt-3">
                        <button class="save btn btn-primary" disabled>Save</button>
                        <button class="clear btn btn-danger">Clear</button>
                    </div>
                </div>
                <div class="sequence"></div>
            </div>
        </div>
        <section class="test-all-btn">
            <button class="btn btn-success"><i class="fa fa-play"></i>&nbsp; Test ALL</button>
        </section>
    </div>
</main>
{% endblock %}